# Fonts
font-family = "Menlo"
font-family-bold = "Menlo Bold"
font-family-italic = "Menlo Italic"
font-family-bold-italic = "Menlo Bold Italic"
font-size = 11

# Ensure that we can actually get a block cursor, since shell integration automatically sets it to bar on a new prompt
shell-integration-features = "no-cursor"

# Prompt Styling
cursor-style = "block"
cursor-color = "green"
cursor-click-to-move = "true"

# Color
theme = "Cyberdyne"

# Misc
desktop-notifications = "true"
auto-update = "check"